.mainFoo {
    background-color: #161c1f;
    padding: 10px 0;

    #container {
        width: 1200px;
        margin: 0 auto;

        .fooBox {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #161c1f;
            height: 10vh;
            h1 {
                color: white;
                font-size: 50px;
            }
        }

        .autor {
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                color: white;
            }
        }
    }
}